.projectImg {
  position: relative;
    height: auto;
    margin: 1%;
    box-shadow: 0px 2px 4px grey;
}

.image {
  display: block;
    background-size: cover;
    width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: whitesmoke;
}

.projectImg:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}