@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

:root {
  --background-color : white;
  --font-color : black;
}

html{
  min-height: 100% !important;
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  transition: all 0.5s;
}

#root {
  height: 100%;
  width: 100%;
}

div {
  animation: fadein 0.5s;
}


h1 {
  transition: all 0.5s;
}

h2 {
  transition: all 0.5s;
}

h3 {
  transition: all 0.5s;
}

span {
  transition: all 0.5s;
}

p {
  transition: all 0.5s;
}

a {
  text-decoration: none !important;
}

a i {
  transition: all 0.5s;
  color: var(--font-color);
}

a i:hover {
  filter: invert(0.5);
}

div.ContainingView {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin-left: 10%;
  overflow: hidden;
}

div.NavView {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  width: 30%;
}

div.NavView h3 {
  cursor: pointer;
}

div.NavView h3:hover {
  filter: invert(0.5);
}

div.ContentView {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.InnerContentView {
  margin-left: 10%;
  width: 80%;
}

div.ContactsView a {
  margin: 20px;
}

div.HorizontalLine {
  background-color: var(--font-color);
  justify-content: center;
  min-height: 1px;
  height: 1px;
  width: 100%;
}

div.VerticalLine {
  background-color: var(--font-color);
  justify-content: center;
  min-width: 1px;
  width: 1px;
  height: 60%;
}

#lightbulb i {
  cursor: pointer;
  color: red;
  position: absolute;
  top: 5%;
  left: 5%;
}

div.InnerNavView a {
  text-decoration: none;
  color: var(--font-color);
  border-style: solid;
  border-color: var(--font-color);
  border-radius: 4px;
  border-width: 1px;
  padding: 4px;
  background-color: var(--background-color);
  transition: all 0.5s;
  color: var(--font-color);
}

div.InnerNavView a:hover {
  background-color: var(--font-color);
  color: var(--background-color);
}



