@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

:root {
  --background-color : #f2f2f2;
  --font-color : #212121;
  --highlight-color : #e86363;
}

html{
  height: 95%;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  transition: all 0.5s;
}

#root {
  height: 100%;
  width: 100%;
}

div {
  animation: fadein 0.5s;
}


h1 {
  transition: all 0.5s;
  font-size: 45px;
  margin-bottom: 10px;
}

h2 {
  transition: all 0.5s;
  font-size: 37px;
}

h3 {
  transition: all 0.5s;
  font-size: 20px;
}

span {
  transition: all 0.5s;
}

p {
  transition: all 0.5s;
}

a {
  text-decoration: none !important;
}

a {
  transition: all 0.5s;
  color: var(--font-color);
}

a:hover {
  filter: invert(0.5);
}

div.ContainingView {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin-left: 10%;
  overflow: hidden;
}

div.ContentView h2 {
  color: var(--highlight-color);
}

div.NavView {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 400px;
  width: 40%;
}

div.NavView h3 {
  cursor: pointer;
}

div.NavView h3:hover {
  filter: invert(0.5);
}

div.ContentView {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.InnerContentView {
  margin-left: 10%;
  width: 80%;
}

div.ContactsView a {
  margin: 20px;
}

div.ProjectsView {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

div.ProjectsContentsView{
  width: 100%;
  height: 75%;
  overflow-y: auto;
}

div.ProjectsBox.FirstElem h3{
  margin-top: 0px;
}


div.HorizontalLine {
  background-color: var(--font-color);
  justify-content: center;
  min-height: 1px;
  height: 1px;
  width: 100%;
}

div.VerticalLine {
  background-color: var(--font-color);
  justify-content: center;
  min-width: 1px;
  width: 1px;
  height: 60%;
}

.ColorPalettesView{
  position: absolute;
  top: 5%;
  left: 5%;
}


.ColorPalettesView a {
  margin: 4px;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
}

#resume_link{
  text-decoration: none;
  color: var(--background-color) !important;
  border-style: solid;
  border-color: var(--font-color);
  border-radius: 4px;
  border-width: 1px;
  padding: 4px;
  font-size: 20px;
  background-color: var(--font-color);
  transition: all 0.5s;
  color: var(--font-color);
  margin-top: 0px !important;
}

#resume_link:hover {
  background-color: grey;
  color: var(--background-color);
  border-color: grey;
  filter: none;
}

#contacts{
  transition: all 0.5s;
  display: flex;
  align-items: center;
  margin-top: 0px;
}

#contacts a {
  margin-top: 3px;
  margin-right: 10px;
  transition: all 0.5s;
}



